
<nav class="nav nav-pills flex-column flex-sm-row">
    <a class ="flex-sm-fill text-sm-center nav-link" href="http://localhost:4200/bookCRUD">bookCRUD</a>
  
    <a class="flex-sm-fill text-sm-center nav-link"  href="http://localhost:4200/booklist">booklist 
    </a>
    <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:4200/customerCRUD">customerManage</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:4200/customer-list">bookManage</a>
  
    <a class="flex-sm-fill text-sm-center nav-link " href="http://localhost:4200/customer-list">Customer Details</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:4200/customer-reg">By Category</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost:4200/writers-crud-list"> By Writers Name</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled" href="http://localhost:4200/customer-header" >Home</a>
  </nav>
