<h1 class="text-center mt-5 fw-bold text-success">👩‍⚕️ All Available Doctors</h1>
<div class="card-container">
  <mat-card class="example-card mt-5 shadow-lg rounded-4" *ngFor="let doctor of aviableDoctors; let i = index">
    <mat-card-header class="card-header">
      <mat-card-title><h3 class="doctor-name">{{ doctor.doctorName }}</h3></mat-card-title>
      <mat-card-subtitle><strong>Dept:</strong> 🏥 {{ doctor.doctorDept }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="9437012.jpg" alt="Doctor Image" class="doctor-image mt-1 rounded-4">

    <mat-card-content class="card-content">
      <p><strong>💲 Fee:</strong> {{ doctor.doctorFee }}</p>
    </mat-card-content>

    <mat-card-actions class="action-container">
      <button mat-raised-button color="primary" class="book-btn" (click)="bookAppoinment(doctor)">📅 Book Appointment</button>
    </mat-card-actions>
  </mat-card>
</div>
