<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white text-center">
            <h4>Return Car</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="returnCar()">
              <!-- Rental ID input -->
              <div class="mb-4">
                <label class="form-label" for="rentalId">Rental ID:</label>
                <input 
                  class="form-control" 
                  type="number" 
                  id="rentalId" 
                  [(ngModel)]="rentalId" 
                  name="rentalId" 
                  required 
                  placeholder="Enter Rental ID" 
                />
              </div>
  
              <!-- Submit Button -->
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">Return Car</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  