<!-- 
  <div>
    <label for="car">Select Car:</label>
    <select id="car"  name="car" required>
      <option *ngFor="let car of availableCars">
        {{ car.carBrand }} {{ car.carModel }} - ${{ car.carBasePrice }} per day
      </option>
    </select>
  </div> -->

  <form (ngSubmit)="bookCar()">
    <div>
      <label for="car">Select Car:</label>
      <select id="car" [(ngModel)]="selectedCar" name="car" required>
        <option *ngFor="let car of availableCars" [ngValue]="car">
          {{ car.carBrand }} {{ car.carModel }} - ${{ car.carBasePrice }} per day
        </option>
      </select>
    </div>
  
    <div *ngIf="selectedCar">
      <p>Total Amount: ${{ totalAmount }}</p>
    </div>
  
    <button type="submit">Book Car</button>
  </form>
  