<form [formGroup]="address">
  <div class="row form-group mb-2">
    <div class="col-md-4">
      <div class="form-label">Village Name:</div>
      <input
        type="text"
        formControlName="village"
        class="form-control"
      />
    </div>
    <div class="col-md-4">
      <div class="form-label">Post Office:</div>
      <input
        type="text"
        formControlName="postOffice"
        class="form-control"
      />
    </div>
        <div class="col-md-4">
      <div class="form-label">Thana:</div>
      <input
        type="text"
        formControlName="thana"
        class="form-control"
      />
    </div>
    <div class="col-md-4">
      <div class="form-label">District:</div>
      <input
        type="text"
        formControlName="district"
        class="form-control"
      />
    </div>
  </div>
</form>
