<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a href="http://localhost:4200/dashboard"> <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30"
        viewBox="0 0 512 512" data-bs-toggle="collapse">
        <path
          d="M40 48C26.7 48 16 58.7 16 72l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24L40
           48zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L192 
           64zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 
           0zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288
            0zM16 232l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48
             0c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24l0 48c0 13.3 10.7 24 24 24l48 0c13.3
              0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0z" />
      </svg> </a>

    <div class="logo">
      <img src="https://www.bookempire.co.uk/public/site_assets/images/logo.png" alt="Book Printing Service" width="144"
        height="90" class="img-fluid">
    </div>
    <a class="navbar-brand" href="#">Start</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/reg-form">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/customer-reg">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>

      </ul>
      <ul class="navbar-nav ms-auto" font-size=".25rem">
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/admin">A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/customer-header">U</a>
        </li>
        </ul>
    </div>
  </div>
</nav>