<h4>islami-booklist !</h4>
<ul style="text-align: left;">
    <li><span style="font-family: inherit; font-size: medium;"><br></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/pdf.html?m=1">সাহাবী হযরত আব্দুল্লাহ ইবনে আব্বাস
                (রাঃ)</a></span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/pdf_14.html">ইমাম ইবনে সীরীন (রহঃ)&nbsp;</a>:
            (৩৩-১১০ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_83.html">ইমাম আবু হানীফা
                (রহঃ)&nbsp;</a>[নুমান বিন সাবিত] : (৮০-১৫০ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_53.html">ইমাম মালিক</a>&nbsp;: (৯৫-১৭৯
            হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_84.html">ইমাম আব্দুল্লাহ ইবনে মুবারক
                (রহঃ)&nbsp;</a>: (১১৮-১৮১ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_70.html">ইমাম আহমদ (রহঃ)</a>&nbsp;:
            (১৬৪-২৪১ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_34.html?m=1">ইমাম ইবনে সা'দ
                (রহঃ)&nbsp;</a>[আবু আব্দুল্লাহ মুহাম্মদ ] : (১৬৮-২৩০ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_23.html">ইমাম বুখারী (রহঃ)</a>&nbsp;[আবু
            আব্দুল্লাহ মুহাম্মদ ইবনে ইসমাইল বুখারী] : (১৯৪-২৫৬ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_16.html">ইমাম আবু দাউদ
                (রহঃ)</a>&nbsp;[সুলাইমান ইবনে আসআছ সাজিসতানী] : (২০২-২৭৫ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_24.html">ইমাম মুসলিম (রহঃ)</a>&nbsp;:
            (২০৪-২৬১ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/pdf_12.html">ইমাম ইবনু আ'বিদ দুন'ইয়া
                (রহঃ)</a>&nbsp;: (২০৮-২৮১ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_72.html">ইমাম তিরমিজী
                (রহঃ)</a>&nbsp;[আবু ঈসা মুহাম্মদ ইবনে ঈসা ইবনে সওরাহ ইবনে মুসা] : (২১০- ২৭৯ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_97.html">ইমাম ইবনে মাজাহ
                (রহঃ)</a>&nbsp;: (২০৯ - ২৭৩ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/pdf_7.html">ইমাম ইবনে হিশাম (রহঃ)&nbsp;</a>: (ওফাত
            ২১২/২১৮ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_52.html">ইমাম নাসাঈ (রহঃ)</a>&nbsp;:
            (২১৫-৩০৩ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/pdf_35.html?m=1">ইমাম তাবারী (রহঃ)</a>&nbsp;[আবু
            জাফর মুহাম্মদ ইবনে জারির] : (২২৪-৩১০ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_33.html?m=1">ইমাম
                ত্বাহাবী&nbsp;(রহঃ)</a>&nbsp;: (২২৯- ৩২১ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_12.html">ইমাম বায়হাকী
                (রহঃ)&nbsp;</a>[আবু বকর আহমদ ইবনে হোসাইন ইবনে আলী ইবনে আব্দুল্লাহ ইবনে মুসা] : (৩৮৪- ৪৫৮ হি:)</span>
    </li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="http://sunni-encyclopedia.blogspot.com/2018/03/blog-post_30.html">ইমাম আবুল লাইস সমরকান্দী
                (রহঃ)</a>&nbsp;: (৩৩২-৩৭৩ হিঃ)</span></li>
    <li><span style="font-family: inherit; font-size: medium;">📚&nbsp;<a
                href="https://sunni-encyclopedia.blogspot.com/2019/02/blog-post_86.html?m=1">ইমাম গাজ্জালী
                (রহঃ)&nbsp;</a>: (৪৫০-৫০৫ হিঃ)</span></li>
</ul>
<ul>
    Best Bengali Thriller Books 📖🔥
Feluda Series - Satyajit Ray
Byomkesh Bakshi - Series Sharadindu Bandyopadhyay
Kakababu Series - Sunil Gangopadhyay
Rahasya Samagra - Narayan Sanyal
Meghnad Badh Rahasya - Samaresh Majumdar
Bondhok - Shirshendu Mukhopadhyay
Rakter Daag - Hemendra Kumar Roy
Kalbela - Samaresh Majumdar
Shatyi Ki Feluda Mori Gechilo - Satyajit Ray
Aro Ekjon Holmes - Adrish Bardhan
Patalghor - Premendra Mitra
Ebar Kando Koren Feluda - Satyajit Ray
Arjun Series - Samaresh Majumdar
Kalo Bhramar- Premendra Mitra
Dwitiyo Adhyay - Shirshendu Mukhopadhyay
Kanchanjungha Rahasya - Hemendra Kumar Roy
</ul>