<h1 class="mt-4 mb-4 justify-content-center d-flex">All Product Infomation</h1>
<div class="container card mt-4">
    <table class="table table-striped">
      <thead class="pt-3 pb-3">
      <tr >
        <th>Id</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Purchase Date</th>
        <th>Sell Date</th>
        <th>Seller Name</th>
        <th>Buyer Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
    
        @for (value of product; track value) {
          <tr>
            <td>{{ product.indexOf(value) + 1 }}</td>
            <td>{{ value.name }}</td>
            <td style="color: rgb(110, 79, 184);">{{ value.price }}</td>
            <td>{{ value.quantity }}</td>
            <td style="color: rgb(54, 71, 102);">{{ value.purchaseDate }}</td>
            <td>{{ value.sellDate }}</td>
            <td style="color: rgb(110, 79, 184);">{{ value.seller }}</td>
            <td>{{ value.buyer }}</td>
    
            <td>
              <button class="btn btn-primary btn-outline-warning "
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      (click)="editUser(value)">Update
              </button>
              <br>
    
              <button class="btn btn-outline-danger btn-secondary "
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      (click)="deleteUser(value)">Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
    
    </table>
    </div>
    
    
    
    
