<nav class="nav ">
  <a class=" nav-link" href="http://localhost:4200/customer-header">Home</a>
  <a class=" nav-link" href="http://localhost:4200/catagory-crud-list">Add Book By Category</a>
  <a class=" nav-link" href="http://localhost:4200/writers-crud-list">Add Book By Writer Name</a>
  <a class=" nav-link" href="http://localhost:4200/bookCRUD">bookCRUD</a>
  <a class=" nav-link" href="http://localhost:4200/booklist">booklist</a>
  <a class=" nav-link " href="http://localhost:4200/customer-list">Customer Details</a>
</nav>